/*
 * Autocompletar
 */
input.autocomplete_input_help {
    background: url(../../img/opciones/botones.png);
}
body div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
body div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
body div.autocomplete ul li.selected {
    background-color: #E5E5E5;
    padding:4px 6px;
}
body div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}


/* cuerpo de captura */
#captura {
    width: 900px;
    min-height: 354px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: auto;
}
/* Titulo de la Captura */
#captura .title {
    height: 40px;
    background:rgba(36,64,90,1);
    color:rgb(255,255,255);
    text-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    filter: dropshadow(color=#000, offx=1, offy=0);
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

#captura .title .titulo {
    font-size: 13px;
    color: #FFFFFF;
    margin-top:7px;
    text-indent: 10px;
}


/*Div donde esta la vista*/
#vista{
    margin-top:10px;
    border: 1px solid black;
    min-height: 500px;
    background:url(../../img/bg4.jpg);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    overflow: auto;
}

/* Estilo de los Botones Guardar,Nuevo ...*/
#botones .boton{
    cursor: pointer;
    border: none;
    padding: 2px;
}
#botones .boton:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}
#botones .boton:active {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

