/*login*/

/*Estilo del Login*/
#login:not(input) {
    position: absolute;
    top: 30%;
    left: 25%;
}
#campos {
    position: absolute;
    top: 40%;
    left: 25%;
}
#login .centro {
    width:704px;
    height:300px;
    background:url(../../img/login_center.png) repeat-x;
    opacity: .7;
}
#login .izq{
    width:23px;
    height:300px;
    background:url(../../img/pruebaizq.png) no-repeat;
    opacity: .7;
}
#login .der{
    width:45px;
    height:300px;
    background:url(../../img/pruebader.png) no-repeat;
    opacity: .7;
}