/* Tabs */
.inactive_tab {
    background: url(@path/img/score_card/img_tabs.png) repeat-x; 
    text-align: center; 
    border-left:1px solid #2E94CB; 
    border-right: 1px solid #2E94CB; 
    border-top: 1px solid #2E94CB; 
    height: 25px;
    font-size: 11px; 
    font-weight: bold;
	color: #ffffff;
    cursor: pointer;
}

.tab_content {
	padding-bottom: 10px;
    border: 1px solid #999999;
    width: 720px;
   	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;
 	border-radius: 10px;
 	background-color: #EFEFEF;
 	margin-bottom: 20px;
}


 .active_tab{
    text-align:center;
    border-left:1px solid #2E94CB; 
    border-right: 1px solid #2E94CB; 
    border-top: 1px solid #2E94CB;
    height: 25px;
    color: #000000;
    cursor: pointer;
    font-size: 11px; font-weight: bold;
}
.null_tab{
	border-bottom:  1px solid #2E94CB;
}
